n8n-workflows/vecia-newsletter-signup.json
{
  "name": "Vecia Newsletter Signup",
  "active": true,
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "vecia-newsletter",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-trigger",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [250, 300],
      "webhookId": "vecia-newsletter"
    },
    {
      "parameters": {
        "jsCode": "// Validate & Transform Newsletter Signup Data\nconst input = $input.first().json.body || $input.first().json;\n\n// Extract fields\nconst email = (input.email || \"\").trim().toLowerCase();\nconst source = input.source || input.trigger || \"newsletter_popup\";\nconst lang = input.language || input.lang || \"fr\";\nconst pageUrl = input.page_url || \"\";\nconst eventId = input.event_id || \"\";\nconst utmSource = input.utm_source || \"\";\nconst utmCampaign = input.utm_campaign || \"\";\nconst utmMedium = input.utm_medium || \"\";\n\n// Email validation (RFC 5322 simplified)\nconst emailRegex = /^[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\\.[a-zA-Z]{2,}$/;\nif (!emailRegex.test(email)) {\n  throw new Error(\"Invalid email address: \" + email);\n}\n\nif (email.length > 255) {\n  throw new Error(\"Email address too long\");\n}\n\n// Disposable email check (basic blocklist)\nconst disposableDomains = [\n  \"tempmail.com\", \"guerrillamail.com\", \"10minutemail.com\",\n  \"mailinator.com\", \"throwaway.email\", \"yopmail.com\"\n];\nconst domain = email.split(\"@\")[1];\nif (disposableDomains.includes(domain)) {\n  throw new Error(\"Disposable email addresses not allowed\");\n}\n\n// Return validated data\nreturn {\n  email,\n  source,\n  lang,\n  pageUrl,\n  eventId,\n  utmSource,\n  utmCampaign,\n  utmMedium,\n  timestamp: new Date().toISOString()\n};"
      },
      "id": "validate-transform",
      "name": "Validate & Transform",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [470, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://100.124.143.6:8069/jsonrpc",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"jsonrpc\": \"2.0\",\n  \"method\": \"call\",\n  \"params\": {\n    \"service\": \"common\",\n    \"method\": \"authenticate\",\n    \"args\": [\"vecia_prod\", \"tanguy.dray@vecia.fr\", \"VeciaAdmin2024!\", {}]\n  },\n  \"id\": 1\n}",
        "options": {}
      },
      "id": "odoo-auth",
      "name": "Odoo Auth",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [690, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://100.124.143.6:8069/jsonrpc",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"jsonrpc\": \"2.0\",\n  \"method\": \"call\",\n  \"params\": {\n    \"service\": \"object\",\n    \"method\": \"execute_kw\",\n    \"args\": [\n      \"vecia_prod\",\n      {{ $('Odoo Auth').item.json.result }},\n      \"VeciaAdmin2024!\",\n      \"mailing.contact\",\n      \"search_read\",\n      [[[\"email\", \"=\", \"{{ $('Validate & Transform').item.json.email }}\"]]],\n      {\"fields\": [\"id\", \"name\", \"email\", \"list_ids\"]}\n    ]\n  },\n  \"id\": 2\n}",
        "options": {}
      },
      "id": "search-contact",
      "name": "Search Existing Contact",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [910, 300]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "contact-exists",
              "leftValue": "={{ $json.result.length }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "if-contact-exists",
      "name": "Contact Exists?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [1130, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://100.124.143.6:8069/jsonrpc",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"jsonrpc\": \"2.0\",\n  \"method\": \"call\",\n  \"params\": {\n    \"service\": \"object\",\n    \"method\": \"execute_kw\",\n    \"args\": [\n      \"vecia_prod\",\n      {{ $('Odoo Auth').item.json.result }},\n      \"VeciaAdmin2024!\",\n      \"mailing.contact\",\n      \"write\",\n      [\n        [{{ $('Search Existing Contact').item.json.result[0].id }}],\n        {\"list_ids\": [[4, 1]]}\n      ]\n    ]\n  },\n  \"id\": 3\n}",
        "options": {}
      },
      "id": "update-contact",
      "name": "Add to Newsletter List",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1350, 200]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://100.124.143.6:8069/jsonrpc",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"jsonrpc\": \"2.0\",\n  \"method\": \"call\",\n  \"params\": {\n    \"service\": \"object\",\n    \"method\": \"execute_kw\",\n    \"args\": [\n      \"vecia_prod\",\n      {{ $('Odoo Auth').item.json.result }},\n      \"VeciaAdmin2024!\",\n      \"mailing.contact\",\n      \"create\",\n      [{\n        \"name\": \"{{ $('Validate & Transform').item.json.email }}\",\n        \"email\": \"{{ $('Validate & Transform').item.json.email }}\",\n        \"list_ids\": [[6, 0, [1]]]\n      }]\n    ]\n  },\n  \"id\": 4\n}",
        "options": {}
      },
      "id": "create-contact",
      "name": "Create Mailing Contact",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1350, 400]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "contact-id",
              "name": "contactId",
              "value": "={{ $('Search Existing Contact').item.json.result[0]?.id || $json.result }}",
              "type": "number"
            },
            {
              "id": "is-new",
              "name": "isNew",
              "value": "={{ $('Search Existing Contact').item.json.result.length === 0 }}",
              "type": "boolean"
            },
            {
              "id": "email",
              "name": "email",
              "value": "={{ $('Validate & Transform').item.json.email }}",
              "type": "string"
            },
            {
              "id": "source",
              "name": "source",
              "value": "={{ $('Validate & Transform').item.json.source }}",
              "type": "string"
            },
            {
              "id": "lang",
              "name": "lang",
              "value": "={{ $('Validate & Transform').item.json.lang }}",
              "type": "string"
            },
            {
              "id": "page-url",
              "name": "pageUrl",
              "value": "={{ $('Validate & Transform').item.json.pageUrl }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "merge-result",
      "name": "Merge Result",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [1570, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.telegram.org/bot7967131292:AAH8ZSTvT6aDzGXnbOa8YwtxtuWlJpUGz_E/sendMessage",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"chat_id\": -5067108668,\n  \"text\": \"<b>Newsletter Signup!</b>\\n\\n<b>Email:</b> {{ $json.email }}\\n<b>Source:</b> {{ $json.source }}\\n<b>Language:</b> {{ $json.lang }}\\n<b>Page:</b> {{ $json.pageUrl }}\\n<b>New Contact:</b> {{ $json.isNew ? 'Yes' : 'No (added to list)' }}\\n\\n<a href=\\\"http://100.124.143.6:8069/web#model=mailing.contact&view_type=list\\\">View in Odoo</a>\",\n  \"parse_mode\": \"HTML\",\n  \"disable_web_page_preview\": true\n}",
        "options": {}
      },
      "id": "telegram-notify",
      "name": "Telegram Notify",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1790, 300]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n  \"success\": true,\n  \"message\": \"Successfully subscribed to newsletter\",\n  \"isNew\": {{ $('Merge Result').item.json.isNew }}\n}",
        "options": {}
      },
      "id": "respond-webhook",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [2010, 300]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n  \"success\": false,\n  \"error\": \"{{ $json.message || 'Validation failed' }}\"\n}",
        "options": {
          "responseCode": 400
        }
      },
      "id": "respond-error",
      "name": "Respond Error",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [690, 500]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Validate & Transform",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate & Transform": {
      "main": [
        [
          {
            "node": "Odoo Auth",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Odoo Auth": {
      "main": [
        [
          {
            "node": "Search Existing Contact",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Search Existing Contact": {
      "main": [
        [
          {
            "node": "Contact Exists?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Contact Exists?": {
      "main": [
        [
          {
            "node": "Add to Newsletter List",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Create Mailing Contact",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Add to Newsletter List": {
      "main": [
        [
          {
            "node": "Merge Result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Mailing Contact": {
      "main": [
        [
          {
            "node": "Merge Result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge Result": {
      "main": [
        [
          {
            "node": "Telegram Notify",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Telegram Notify": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2025-12-10T00:00:00.000Z",
  "versionId": "1"
}
