n8n-workflows/vecia-newsletter-signup-v2-with-email.json
{
  "id": "CLYEOLEV10lVuYLn",
  "name": "Vecia Newsletter Signup",
  "active": true,
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "vecia-newsletter",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-trigger",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [250, 300],
      "webhookId": "vecia-newsletter"
    },
    {
      "parameters": {
        "jsCode": "// Validate & Transform Newsletter Signup Data\nconst input = $input.first().json.body || $input.first().json;\n\n// Extract fields\nconst email = (input.email || \"\").trim().toLowerCase();\nconst source = input.source || input.trigger || \"newsletter_popup\";\nconst lang = input.language || input.lang || \"fr\";\nconst pageUrl = input.page_url || \"\";\nconst eventId = input.event_id || \"\";\nconst utmSource = input.utm_source || \"\";\nconst utmCampaign = input.utm_campaign || \"\";\nconst utmMedium = input.utm_medium || \"\";\n\n// Email validation (RFC 5322 simplified)\nconst emailRegex = /^[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\\.[a-zA-Z]{2,}$/;\nif (!emailRegex.test(email)) {\n  throw new Error(\"Invalid email address: \" + email);\n}\n\nif (email.length > 255) {\n  throw new Error(\"Email address too long\");\n}\n\n// Disposable email check (basic blocklist)\nconst disposableDomains = [\n  \"tempmail.com\", \"guerrillamail.com\", \"10minutemail.com\",\n  \"mailinator.com\", \"throwaway.email\", \"yopmail.com\"\n];\nconst domain = email.split(\"@\")[1];\nif (disposableDomains.includes(domain)) {\n  throw new Error(\"Disposable email addresses not allowed\");\n}\n\n// Return validated data\nreturn {\n  email,\n  source,\n  lang,\n  pageUrl,\n  eventId,\n  utmSource,\n  utmCampaign,\n  utmMedium,\n  timestamp: new Date().toISOString()\n};"
      },
      "id": "validate-transform",
      "name": "Validate & Transform",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [470, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://100.124.143.6:8069/jsonrpc",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"jsonrpc\": \"2.0\",\n  \"method\": \"call\",\n  \"params\": {\n    \"service\": \"common\",\n    \"method\": \"authenticate\",\n    \"args\": [\"vecia_prod\", \"tanguy.dray@vecia.fr\", \"VeciaAdmin2024!\", {}]\n  },\n  \"id\": 1\n}",
        "options": {}
      },
      "id": "odoo-auth",
      "name": "Odoo Auth",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [690, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://100.124.143.6:8069/jsonrpc",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"jsonrpc\": \"2.0\",\n  \"method\": \"call\",\n  \"params\": {\n    \"service\": \"object\",\n    \"method\": \"execute_kw\",\n    \"args\": [\n      \"vecia_prod\",\n      {{ $('Odoo Auth').item.json.result }},\n      \"VeciaAdmin2024!\",\n      \"mailing.contact\",\n      \"search_read\",\n      [[[\"email\", \"=\", \"{{ $('Validate & Transform').item.json.email }}\"]]],\n      {\"fields\": [\"id\", \"name\", \"email\", \"list_ids\"]}\n    ]\n  },\n  \"id\": 2\n}",
        "options": {}
      },
      "id": "search-contact",
      "name": "Search Existing Contact",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [910, 300]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "contact-exists",
              "leftValue": "={{ $json.result.length }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "if-contact-exists",
      "name": "Contact Exists?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [1130, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://100.124.143.6:8069/jsonrpc",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"jsonrpc\": \"2.0\",\n  \"method\": \"call\",\n  \"params\": {\n    \"service\": \"object\",\n    \"method\": \"execute_kw\",\n    \"args\": [\n      \"vecia_prod\",\n      {{ $('Odoo Auth').item.json.result }},\n      \"VeciaAdmin2024!\",\n      \"mailing.contact\",\n      \"write\",\n      [\n        [{{ $('Search Existing Contact').item.json.result[0].id }}],\n        {\"list_ids\": [[4, 1]]}\n      ]\n    ]\n  },\n  \"id\": 3\n}",
        "options": {}
      },
      "id": "update-contact",
      "name": "Add to Newsletter List",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1350, 200]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://100.124.143.6:8069/jsonrpc",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"jsonrpc\": \"2.0\",\n  \"method\": \"call\",\n  \"params\": {\n    \"service\": \"object\",\n    \"method\": \"execute_kw\",\n    \"args\": [\n      \"vecia_prod\",\n      {{ $('Odoo Auth').item.json.result }},\n      \"VeciaAdmin2024!\",\n      \"mailing.contact\",\n      \"create\",\n      [{\n        \"name\": \"{{ $('Validate & Transform').item.json.email }}\",\n        \"email\": \"{{ $('Validate & Transform').item.json.email }}\",\n        \"list_ids\": [[6, 0, [1]]]\n      }]\n    ]\n  },\n  \"id\": 4\n}",
        "options": {}
      },
      "id": "create-contact",
      "name": "Create Mailing Contact",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1350, 400]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "contact-id",
              "name": "contactId",
              "value": "={{ $('Search Existing Contact').item.json.result[0]?.id || $json.result }}",
              "type": "number"
            },
            {
              "id": "is-new",
              "name": "isNew",
              "value": "={{ $('Search Existing Contact').item.json.result.length === 0 }}",
              "type": "boolean"
            },
            {
              "id": "email",
              "name": "email",
              "value": "={{ $('Validate & Transform').item.json.email }}",
              "type": "string"
            },
            {
              "id": "source",
              "name": "source",
              "value": "={{ $('Validate & Transform').item.json.source }}",
              "type": "string"
            },
            {
              "id": "lang",
              "name": "lang",
              "value": "={{ $('Validate & Transform').item.json.lang }}",
              "type": "string"
            },
            {
              "id": "page-url",
              "name": "pageUrl",
              "value": "={{ $('Validate & Transform').item.json.pageUrl }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "merge-result",
      "name": "Merge Result",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [1570, 300]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "is-new-contact",
              "leftValue": "={{ $json.isNew }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "if-should-send-email",
      "name": "Should Send Welcome Email?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [1790, 300]
    },
    {
      "parameters": {
        "fromEmail": "newsletter@vecia.fr",
        "toEmail": "={{ $('Merge Result').item.json.email }}",
        "subject": "={{ $('Merge Result').item.json.lang === 'en' ? 'Welcome to Vecia! 🚀' : 'Bienvenue chez Vecia ! 🚀' }}",
        "emailType": "html",
        "html": "={{ $('Merge Result').item.json.lang === 'en' ? `<!DOCTYPE html>\n<html lang=\"en\">\n<head>\n  <meta charset=\"UTF-8\">\n  <meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0\">\n  <title>Welcome to Vecia</title>\n</head>\n<body style=\"margin: 0; padding: 0; background-color: #f4f4f4; font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif;\">\n  <div style=\"display: none; max-height: 0; overflow: hidden;\">Thanks for joining our community! Discover how AI can transform your business.</div>\n  <table role=\"presentation\" border=\"0\" cellpadding=\"0\" cellspacing=\"0\" width=\"100%\" style=\"background-color: #f4f4f4;\">\n    <tr>\n      <td align=\"center\" style=\"padding: 40px 10px;\">\n        <table role=\"presentation\" border=\"0\" cellpadding=\"0\" cellspacing=\"0\" width=\"600\" style=\"background-color: #ffffff; border-radius: 8px; box-shadow: 0 2px 8px rgba(0,0,0,0.1);\">\n          <tr>\n            <td align=\"center\" style=\"padding: 30px 40px 20px 40px; border-bottom: 1px solid #e0e0e0;\">\n              <img src=\"https://vecia.fr/vecia_logo_long_contour.png\" alt=\"Vecia\" width=\"180\" style=\"display: block; max-width: 180px; height: auto;\">\n            </td>\n          </tr>\n          <tr>\n            <td style=\"padding: 40px;\">\n              <h1 style=\"margin: 0 0 20px 0; font-size: 28px; font-weight: 700; color: #1a1a1a;\">Welcome to Vecia!</h1>\n              <p style=\"margin: 0 0 20px 0; font-size: 16px; line-height: 1.6; color: #444444;\">Thank you for subscribing to our newsletter. You've taken the first step towards a smarter, more efficient business.</p>\n              <h2 style=\"margin: 30px 0 15px 0; font-size: 20px; font-weight: 600; color: #1a1a1a;\">What you'll receive:</h2>\n              <p style=\"margin: 10px 0; font-size: 16px; color: #444444;\">✓ <strong>Real-world use cases</strong> - How SMBs automate with AI</p>\n              <p style=\"margin: 10px 0; font-size: 16px; color: #444444;\">✓ <strong>Practical guides</strong> - Tutorials for implementing AI</p>\n              <p style=\"margin: 10px 0; font-size: 16px; color: #444444;\">✓ <strong>AI news</strong> - Latest breakthroughs for your business</p>\n              <table role=\"presentation\" border=\"0\" cellpadding=\"0\" cellspacing=\"0\" width=\"100%\" style=\"margin: 35px 0;\">\n                <tr>\n                  <td align=\"center\">\n                    <a href=\"https://cal.vecia.fr/team/vecia/consultation\" style=\"display: inline-block; padding: 16px 40px; background-color: #0066cc; color: #ffffff; text-decoration: none; font-size: 16px; font-weight: 600; border-radius: 6px;\">Book a free consultation</a>\n                  </td>\n                </tr>\n              </table>\n              <p style=\"margin: 20px 0 0 0; font-size: 16px; color: #444444;\">Got questions? Simply reply to this email.</p>\n              <p style=\"margin: 20px 0 0 0; font-size: 16px; color: #444444;\">See you soon,<br><strong>The Vecia Team</strong></p>\n            </td>\n          </tr>\n          <tr>\n            <td style=\"padding: 30px 40px; background-color: #f8f9fa; border-top: 1px solid #e0e0e0; border-radius: 0 0 8px 8px;\">\n              <p style=\"margin: 0 0 10px 0; font-size: 12px; color: #666666; text-align: center;\">Vecia SAS - AI Automation Agency<br>Paris, France</p>\n              <p style=\"margin: 0; font-size: 12px; color: #999999; text-align: center;\">You're receiving this because you subscribed to Vecia newsletter.<br><a href=\"https://vecia.fr/unsubscribe?email=${encodeURIComponent($('Merge Result').item.json.email)}\" style=\"color: #666666;\">Unsubscribe</a></p>\n            </td>\n          </tr>\n        </table>\n      </td>\n    </tr>\n  </table>\n</body>\n</html>` : `<!DOCTYPE html>\n<html lang=\"fr\">\n<head>\n  <meta charset=\"UTF-8\">\n  <meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0\">\n  <title>Bienvenue chez Vecia</title>\n</head>\n<body style=\"margin: 0; padding: 0; background-color: #f4f4f4; font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif;\">\n  <div style=\"display: none; max-height: 0; overflow: hidden;\">Merci de rejoindre notre communauté ! Découvrez comment l'IA peut transformer votre entreprise.</div>\n  <table role=\"presentation\" border=\"0\" cellpadding=\"0\" cellspacing=\"0\" width=\"100%\" style=\"background-color: #f4f4f4;\">\n    <tr>\n      <td align=\"center\" style=\"padding: 40px 10px;\">\n        <table role=\"presentation\" border=\"0\" cellpadding=\"0\" cellspacing=\"0\" width=\"600\" style=\"background-color: #ffffff; border-radius: 8px; box-shadow: 0 2px 8px rgba(0,0,0,0.1);\">\n          <tr>\n            <td align=\"center\" style=\"padding: 30px 40px 20px 40px; border-bottom: 1px solid #e0e0e0;\">\n              <img src=\"https://vecia.fr/vecia_logo_long_contour.png\" alt=\"Vecia\" width=\"180\" style=\"display: block; max-width: 180px; height: auto;\">\n            </td>\n          </tr>\n          <tr>\n            <td style=\"padding: 40px;\">\n              <h1 style=\"margin: 0 0 20px 0; font-size: 28px; font-weight: 700; color: #1a1a1a;\">Bienvenue chez Vecia !</h1>\n              <p style=\"margin: 0 0 20px 0; font-size: 16px; line-height: 1.6; color: #444444;\">Merci de vous être inscrit(e) à notre newsletter. Vous avez fait le premier pas vers une entreprise plus intelligente.</p>\n              <h2 style=\"margin: 30px 0 15px 0; font-size: 20px; font-weight: 600; color: #1a1a1a;\">Ce que vous allez recevoir :</h2>\n              <p style=\"margin: 10px 0; font-size: 16px; color: #444444;\">✓ <strong>Cas d'usage concrets</strong> - Comment les PME automatisent avec l'IA</p>\n              <p style=\"margin: 10px 0; font-size: 16px; color: #444444;\">✓ <strong>Guides pratiques</strong> - Tutoriels pour implémenter l'IA</p>\n              <p style=\"margin: 10px 0; font-size: 16px; color: #444444;\">✓ <strong>Actualités IA</strong> - Les avancées qui comptent pour votre business</p>\n              <table role=\"presentation\" border=\"0\" cellpadding=\"0\" cellspacing=\"0\" width=\"100%\" style=\"margin: 35px 0;\">\n                <tr>\n                  <td align=\"center\">\n                    <a href=\"https://cal.vecia.fr/team/vecia/consultation\" style=\"display: inline-block; padding: 16px 40px; background-color: #0066cc; color: #ffffff; text-decoration: none; font-size: 16px; font-weight: 600; border-radius: 6px;\">Réserver une consultation gratuite</a>\n                  </td>\n                </tr>\n              </table>\n              <p style=\"margin: 20px 0 0 0; font-size: 16px; color: #444444;\">Vous avez des questions ? Répondez simplement à cet email.</p>\n              <p style=\"margin: 20px 0 0 0; font-size: 16px; color: #444444;\">À très vite,<br><strong>L'équipe Vecia</strong></p>\n            </td>\n          </tr>\n          <tr>\n            <td style=\"padding: 30px 40px; background-color: #f8f9fa; border-top: 1px solid #e0e0e0; border-radius: 0 0 8px 8px;\">\n              <p style=\"margin: 0 0 10px 0; font-size: 12px; color: #666666; text-align: center;\">Vecia SAS - Agence d'Automatisation IA<br>Paris, France</p>\n              <p style=\"margin: 0; font-size: 12px; color: #999999; text-align: center;\">Vous recevez cet email car vous vous êtes inscrit(e) à la newsletter Vecia.<br><a href=\"https://vecia.fr/unsubscribe?email=${encodeURIComponent($('Merge Result').item.json.email)}\" style=\"color: #666666;\">Se désinscrire</a></p>\n            </td>\n          </tr>\n        </table>\n      </td>\n    </tr>\n  </table>\n</body>\n</html>` }}",
        "options": {
          "appendAttribution": false
        }
      },
      "id": "send-welcome-email",
      "name": "Send Welcome Email",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [2010, 200],
      "credentials": {
        "smtp": {
          "id": "1e29e0aa-7699-44fa-be39-86e2254d2d5a",
          "name": "SMTP2GO Vecia"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.telegram.org/bot7967131292:AAH8ZSTvT6aDzGXnbOa8YwtxtuWlJpUGz_E/sendMessage",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"chat_id\": -5067108668,\n  \"text\": \"<b>📧 Newsletter Signup!</b>\\n\\n<b>Email:</b> {{ $('Merge Result').item.json.email }}\\n<b>Source:</b> {{ $('Merge Result').item.json.source }}\\n<b>Language:</b> {{ $('Merge Result').item.json.lang }}\\n<b>Page:</b> {{ $('Merge Result').item.json.pageUrl }}\\n<b>New Contact:</b> {{ $('Merge Result').item.json.isNew ? '✅ Yes (welcome email sent)' : '➕ No (added to list)' }}\\n\\n<a href=\\\"http://100.124.143.6:8069/web#model=mailing.contact&view_type=list\\\">View in Odoo</a>\",\n  \"parse_mode\": \"HTML\",\n  \"disable_web_page_preview\": true\n}",
        "options": {}
      },
      "id": "telegram-notify",
      "name": "Telegram Notify",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [2230, 300]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n  \"success\": true,\n  \"message\": \"Successfully subscribed to newsletter\",\n  \"isNew\": {{ $('Merge Result').item.json.isNew }},\n  \"welcomeEmailSent\": {{ $('Merge Result').item.json.isNew }}\n}",
        "options": {}
      },
      "id": "respond-webhook",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [2450, 300]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n  \"success\": false,\n  \"error\": \"{{ $json.message || 'Validation failed' }}\"\n}",
        "options": {
          "responseCode": 400
        }
      },
      "id": "respond-error",
      "name": "Respond Error",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [690, 500]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Validate & Transform",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate & Transform": {
      "main": [
        [
          {
            "node": "Odoo Auth",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Odoo Auth": {
      "main": [
        [
          {
            "node": "Search Existing Contact",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Search Existing Contact": {
      "main": [
        [
          {
            "node": "Contact Exists?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Contact Exists?": {
      "main": [
        [
          {
            "node": "Add to Newsletter List",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Create Mailing Contact",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Add to Newsletter List": {
      "main": [
        [
          {
            "node": "Merge Result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Mailing Contact": {
      "main": [
        [
          {
            "node": "Merge Result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge Result": {
      "main": [
        [
          {
            "node": "Should Send Welcome Email?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Should Send Welcome Email?": {
      "main": [
        [
          {
            "node": "Send Welcome Email",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Telegram Notify",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Welcome Email": {
      "main": [
        [
          {
            "node": "Telegram Notify",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Telegram Notify": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2025-12-10T00:00:00.000Z",
  "versionId": "2"
}
